.main
  .main_message
    .main_message__name
      = message.user.name
    .main_message__date
      = message.created_at.strftime("%Y年%m月%d日")
  .Content
    - if message.content.present?
      %p.Content__content
        = message.content
    = image_tag message.image.url, class: 'Message__image' if message.image.present?

